html,
body,
div,
ul,
li,
h2,
h5,
p,
footer {
    font-family: 'Signika', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #0D0708;
}

body {
    height: 100%;
    font: 24px/30px 'Signika', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fdedc5;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
	text-align: center;
}

img {
    max-width: 100%;
	max-height: 100%;
    width: auto;
    height: auto;
}

/* links --------------------------  */

a {
    color: #d2434a;
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
}

a:hover {
    color: #F87C88;
	text-decoration: underline;
}

a:active {
    color: #d2434a;
	text-decoration: underline;
}

a:visited {
    color: grey;
	text-decoration: underline;
}

/* navigation --------------------------  */

.menu ul {
    list-style-type: none;
	font-size: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #D2424A;
	max-width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu li {
    float: left;
	border-right: 1px solid black;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #742329;
}

/* sections --------------------------  */

section,
.clearfix {
    display: block;
}

.token {
    margin: 10px 0 60px;
	background: url(../images/script.jpg) no-repeat;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.activities {
    margin: 10px 0 60px;
}

.activities-columns {
    margin: 0 -25px;
}

.activity {
    float: left;
    width: 33.33%;
    text-align: left;
    padding: 0 25px;
    margin: 0 0 50px;
    box-sizing: border-box;
}

.features {
    margin: 10px 0 60px;
}

.features-columns {
    margin: 0 -25px;
}

.feature {
    float: left;
    width: 50%;
	height: 400px;
    text-align: left;
    padding: 0 25px;
    margin: 0 0 50px;
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.inventory {
	float: left;
    width: 40%;
}

.content {
    width: 60%;
}

.edg {
	float: left;
    width: 20%;
}

.content-edg {
    width: 80%;
	color: #0d0708;
}

.promo-column {
    padding: 20px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
	
}

.promo-column img {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

/* footer --------------------------  */

footer,
.clearfix {
    display: block
}

footer {
    background: #0D0708;
	font-size: 18px;
    color: white;
    line-height: 28px;
	margin-top: 70px;
    padding: 20px 0;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
	max-width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer li {
    float: left;
	border-right: 1px solid black;
}

.footer li a {
    display: block;
    color: #fdedc5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer li a:hover {
    color: white;
}

/* misc --------------------------  */

* {
    box-sizing: border-box;
}

.main {
    min-height: 100%;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 80%;
}

.title {
	margin-top: 25px;
	margin-bottom: 30px;
    padding: 25px;
}

.icon img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 25px;
	width: 180px;
}

.map img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 25px;
}