html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
    font-family: 'Signika', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
th,
dfn,
del {
    font-weight: normal;
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
.clearfix {
    display: block
}

a > img {
    vertical-align: bottom
}

strong,
.strong,
b {
    font-weight: bold
}

del,
.del {
    text-decoration: line-through
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* tools --------------------------  */

.clear {
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.align-left {
    float: left !important
}

.align-right {
    float: right !important
}

.overflow-hidden {
    overflow: hidden;
    display: block;
}

/* common --------------------------  */

html {
    height: 100%;
    background: #0D0708;
}

body {
    height: 100%;
    font: 20px/36px /*"Helvetica Neue", Helvetica, Arial, sans-serif*/;
    color: #fdedc5;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.main {
    min-height: 100%;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 80%;
}

a {
    color: #d2434a;
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
}

a:hover {
    color: #F87C88;
	text-decoration: underline;
}

a:active {
    color: #d2434a;
	text-decoration: underline;
}

/* header --------------------------  */

header {
    padding: 30%;
    background: url(../images/promo-bg.png) no-repeat center center fixed;;
    background-size:100%;
    color: #0D0708;
}

header h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 38px;
}

h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 38px;
	text-align: center;
}

header h1 span {
    font-weight: 200
}

.header-img {
    float: right
}

.header-wrapper {
    padding-top: 87px;
    max-width: 655px;
}

.border {
  padding: 40px;
  margin: 0 auto;
  background-color: #0D0708;
  border-image-source: url(http://tympanus.net/codrops-playground/assets/images/cssref/properties/border-image-slice/border-img.png);
  border-image-repeat: round;
  border-image-width: 27px;
  /* try adding/removing the `fill` keyword to see how that affects the middle slice of the image and its application as a background image */
  /* also change the value of the slice sizes, use one-value, two-value, three-value, and four-value syntax
  to get a clearer idea of how they work */
  border-image-slice: 27;
}

/* footer --------------------------  */

footer {
    background: #0D0708;
    color: white;
    font-size: 16px;
    line-height: 28px;
    padding: 90px 0;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* home --------------------------  */

/* content --------------------------  */

.menu ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	max-width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.menu li {
    float: left;
	
    border-right: 1px solid black;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.spanning {
    clear: both
}

.promo {
	padding-top: 64px;
	padding-right: 0;
	padding-bottom: 54px;
	padding-left: 0;
}

.promo-wrapper {
    margin: 0 -15px
}

.promo-column {
    padding: 0 15px 60px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
	
}

.modes {
    padding: 0 15px 60px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
}


.promo-column img {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.promo-column h5 {
    font: bold 18px/24px /*"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;*/;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.simple {
    padding: 104px 0 89px
}

.simple-content {
    float: right;
    padding-top: 37px;
    width: 420px;
}

.simple-content h3 {
    font: 700 48px/48px /*"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif*/;
    text-transform: uppercase;
    border-bottom: solid 6px #f4f4f4;
    padding-bottom: 43px;
    margin-bottom: 43px;
}

.simple-content ul {
    margin-bottom: 5px
}

.simple-content ul li {
    font-size: 23px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 31px;
}

.simple-content ul li img {
    float: left;
    margin-right: 23px;
}

.simple-content ul li span {
    display: block;
    overflow: hidden;
}

.simple-img {
    float: left;
    max-width: 587px;
    width: 53%;
}

.simple-img img {
    display: block;
    margin: 0 auto;
}

.discover {
    padding: 31px 0 25px;
    background: #0D0708;
}

.discover-content {
    float: right;
    width: 50%;
    padding: 77px 97px 50px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.discover-img {
    float: left;
    width: 50%;
}

.discover-img img {
    display: block
}

.discover-img-inside {
    margin: 0 -40px
}